<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app2.js"></script>
  </head>
  <body class="list-group" ng-controller="StoreController as store">
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <section ng-show="product.images.length">
        <img ng-src="{{product.images[0]}}" />
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </section>

      <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specs</a></li>
          <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <div class="panel" ng-show=" tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show=" tab.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine:{{product.shine}} </blockquote>
        </div>
        <div class="panel" ng-show=" tab.isSet(3)">
          <h4>Commentaires:</h4>
          
      <div ng-repeat="rewiew in product.reviews">
        <hr style="width:100%; height:1px;" /> 
         {{rewiew.body}} <br> {{rewiew.author}}<br>
         {{rewiew.createdOn | date:'dd/MM/yyyy'}}<br>
         <ANY ng-switch="{{rewiew.stars}}">
            <ANY ng-switch-when="1"><span class="starG">*</span><span class="starf">****</ANY>
  <ANY ng-switch-when="2"><span class="starG">**</span><span class="starf">***</ANY>
  <ANY ng-switch-when="3"><span class="starG">***</span><span class="starf">**</ANY>
  <ANY ng-switch-when="4"><span class="starG">****</span><span class="starf">*</ANY>
  <ANY ng-switch-when="5"><span class="starG">*****</span></ANY>
  </ANY>
      </div>
        </div>
      </section>
    </div>
  </body>
</html>
